.main-pic {

  width: 100%;
}

.form-header {

  text-align: center;
}

.name-label span {
  background: #ffc;
  border: 1px solid #fc6;
  height: 45px;
  position: relative;
  top: -85px;
  left: 0;
  text-align: center;
  padding: 20px 12px 10px;
  z-index: 2;
  display: none;
}

header {
  background-color: blue;
  color: white;

}

header .logo {
  float: left;
}

header ul {
  list-style: none;
  text-align: right;
}

header li {
  display: inline;
}

aside {
  float: left;
}

aside ul {
  list-style: none;
}

div.form {
  text-align: center;
}

article {
  text-align: center;
}

footer {
  text-align: center;
  background-color: blue;
  color: white;
}

article button {
  background-color: red;
  color: white;
}